/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.cross_btn{
    border-radius: 100%;
    background: #b2f8d3fa;
    width: 20px;
    height: 20px;
    display: block;
    line-height: 18px;
    text-align: center;
}
.product_search{
    position: absolute;
    top: 18px;
    right: 20px;
}
.product_search input{
    border-radius: 25px 0 0 25px;
}
.product_search button{
    background: #b0ffc0f2;
    width: 45px;
    height: 40px;
    position: relative;
    right: 6px;
    border-radius: 0 25px 25px 0;
}
aside select{
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 7px;
}
aside select option{
    color: black;
}
.pro_img {
    width: 30rem;
    height: 220px;
    object-fit: scale-down;
}
